body {
    background-image: url("../img/car.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: fit-content;
    width: 100%;
    margin: auto;
    overflow-x: hidden;

}


.lorem {}